
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/js/typed.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                Typed.new('.typeMoment', {
                    strings: ["Just for Hip Hop."],
                    typeSpeed: 0
                });
            });
        </script>
        <script src="/js/scrollMenuSticky.js"></script>
    </body>
</html>
