<% include shared/header.ejs %>


<% include shared/menu.ejs %>

<% if (success_msg.length > 0){ %>

 <div class="alert alert-success"><%= success_msg %></div>

 <% } %>

      <div class="row">
        <div class="col-lg-12">
          Bienvenu sur Check!t.
        </div>
      </div>


<% include shared/footer.ejs %>
