<% include shared/header.ejs %>


<% include shared/menu.ejs %>

<% if (success_msg.length > 0){ %>

 <div class="alert alert-success"><%= success_msg %></div>

 <% } %>




<% include shared/footer.ejs %>
