<% include shared/header.ejs %>


<% include shared/menu.ejs %>

<% if (success_msg.length > 0){ %>

 <div class="alert alert-success"><%= success_msg %></div>

 <% } %>

<div class="row events-row">
    <div class="row text-center">
        <h1>Derniers Evenements</h1>
        <hr>
    </div>
    <div class="row">

      <% for (let i = 0; i < locals.list.length; i++){ %>

        <div class="col-lg-4 col-md-4 col-sm-4 check-events-card">
            <div class="check-header-card ex1 text-center">
                <h3 class="check-card-title">

                    <%= locals.list[i].eventName %>

                </h3>
            </div>
            <div class="check-card-content">
                <span>Blah blah blha bdebzudoe cebzou jdeizfj fhuzeohf efj ezuofh eozfezhfouezhdeoz fehouz</span>
                <div class="row text-center">
                    <button type="button" class="check-button">Check !t.</button>
                    <a href="" class="check-card-icon">
                        <i class="fa fa-facebook-square fa-lg">
                        </i>
                    </a>
                    <a href="" class="check-card-icon">
                        <i class="fa fa-instagram fa-lg">
                        </i>
                    </a>
                </div>
            </div>
        </div>

      <% } %>

    </div>
</div>
<div class="row training-row">
    <div class="row text-center">
        <h1>Tes training Spots</h1>
        <hr>
    </div>
    <div class="text-center check-training-text">
        <p>
            Soit tu connais... Soit tu ne connais pas... Mais dans tous les cas, tu l'utiliseras.
            Vas checker ta nouvelle app basée sur la culture street !
        </p>
        <p>
            T'as déja eu du mal a trouver un spot pour t'entrainer, un groupe de personnes avec qui s'entrainer,
            ou tout simplement envie de découvrir de nouvelles vidéos... On a travaillé pour toi.
        </p>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <button type="button" class="check-button"> Let's go </button>
    </div>
</div>
<div class="row brands-row">

</div>

<% include shared/footer.ejs %>
